/* 
.home, .projo{
    background-color: #C3A9FF;
}
.ser, .formo{
    background-color: #DBA9EE;
} */
.home, .formo{
    background-image: linear-gradient(to right, #FFD5AF , #E59A58, #898970);
}
.skilly, .projo, .abouty, .tessy{
    background-color: #FFD5AF;
}
.abouty, .projo, .tessy{
    margin: auto;
}
.tes{
    border: 1px solid black;
    height: 320px;
    width: 100%;
    background-color: #1F49C6;
    text-align: center;
    

}
.Navyo{
    display:flex;
    justify-content: flex-end;
    color: white;
}

footer{
    background-color: #07102C;
    width: 100%;
    color:white;
    text-align: center;
    min-height: 100px;

}
.CertImg{
    height: 200px;
    
}
.ham{
    display: none;
}
#hidden{
    display:flex;
}
.formy{
    width: 50%;
    margin: auto;
}
.formy label, .formy textarea {
    width: 80%;
}
.formy label input{
    width: 80%;
}
.formy button{
    width: 20%;
    margin: 20px;

}
@media only screen and (max-width:560px){
    .abouty, .projo, .tessy{
        padding-left: 0;
        padding-right: 18px;
    }
    .tessy .tes{
        margin-bottom: 40px;
    }
     .land{
    display: flex;
    flex-direction: column;
   }
   .land img{
    margin-left: 30px;
   }
   .rend{
    display: flex;
    flex-direction: column;
   }
   .proj{
    display: flex;
    flex-direction: column;
   }
   .tessy{
    display: flex;
    flex-direction: column;
   }
   .formy{
    width: 80%;
   }
   .formy button{
    width: 50%;
   }
    .skillo{
        display: flex;
        flex-direction: column;
    }
    
}