/* 
.home, .projo{
    background-color: #C3A9FF;
}
.ser, .formo{
    background-color: #DBA9EE;
} */

.tes{
    border: 1px solid black;
    height: 320px;
    width: 100%;
    background-color: #1F49C6;
    text-align: center;
    

}
.Navyo{
    display:flex;
    justify-content: flex-end;
    color: white;
}

footer{
    background-color: #07102C;
    width: 100%;
    color:white;
    text-align: center;
    min-height: 100px;

}
.CertImg{
    height: 200px;
    
}
.ham{
    display: none;
}
#hidden{
    display:flex;
}
.formy{
    width: 50%;
    margin: auto;
}
.formy label, .formy textarea {
    width: 80%;
}
.formy label input{
    width: 80%;
}
.formy button{
    width: 20%;
    margin: 20px;

}
@media only screen and (max-width:560px){
   .projo, .abouty, .skilly, .tessy{
    padding-left: 0px;
    padding-right: 0px;
   }
    .land{
    display: flex;
    flex-direction: column;
   }
   .land img{
    margin-left: 30px;
   }
   .rend{
    display: flex;
    flex-direction: column;
   }
   .proj{
    display: flex;
    flex-direction: column;
   }
   .tessy{
    display: flex;
    flex-direction: column;
   }
   .formy{
    width: 80%;
   }
   .formy button{
    width: 50%;
   }
    .Navy{
        font-size: 12px;
    }
    
}